@using KharlBanking.Models.ViewModels
@model KharlBanking.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Transfer Funds";
}

<h2>Transfer Funds</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<div class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.AccountNumber)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.AccountNumber)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.AccountName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.AccountName)
			</dd>
			<dt>
				Current Balance
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Balance)
			</dd>
		</div>
		<form asp-action="Transfer">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="RowVersion" />
			<div class="form-group">
				<label asp-for="TransferToAccount" class="control-label"></label>
				<input asp-for="TransferToAccount" class="form-control" placeholder="Account Number" />
				<span asp-validation-for="TransferToAccount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Transfer" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
